
<style>
.mui-zebra-page{
    background: #200258 !important;
}
    .p-slider-product-list a {
        text-decoration: none !important;
    }

    .lzd-act-title .inner-content {
        background-color: #b5076b !important;
        border-radius: 7px;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 2px #6f0943;
    }

    .p-slider-product-img img {
        object-fit: contain !important;
    }

    .p-slider-content {
        height: 270px;
    }

    .p-slider {
        background: transparent !important;
    }

    .lzd-act-title .more {
        color: #fff;
        text-shadow: 2px 2px 2px #6f0943;
    }

    .lzd-act-partnership-daraz .image {
        object-fit: contain !important;
    }

    .lzd-act-partnership-daraz .next,
    .lzd-act-partnership-daraz .pre {
        background-color: #b5076b !important;
        box-shadow: 0px 0px 10px 0px #0000006e;
    }

    .lzd-act-partnership-daraz .shadow-left,
    .lzd-act-partnership-daraz .shadow-right {
        display: none !important;
    }

    @media(min-width: 768px) {
        .lzd-act-partnership-daraz .cs-slide {
            overflow-x: hidden !important;
        }

        .lzd-act-partnership-daraz .active .arrow-btn.left::after,
        .lzd-act-partnership-daraz .active .arrow-btn.right::after {
            border-top: 3px solid #fff !important;
            border-right: 3px solid #fff !important;
        }
    }

    @media(max-width: 767px) {
        .p-slider-content {
            height: auto !important;
        }

        .lzd-act-title {
            background-color: #b5076b !important;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #6f0943;
        }

        .lzd-act-title .more {
            color: #fff;
            text-shadow: 2px 2px 2px #6f0943;
        }

        .p-slider {
            background: transparent !important;
        }

        .lzd-act-title {
            color: #fff;
            text-shadow: 2px 2px 2px #6f0943;
        }

        .pencentage-bar .bar {
            background-color: #000;
        }

        .pencentage-bar span {
            background-color: #232323c9 !important;
        }

        .lzd-act-partnership-daraz .image {
            object-fit: contain !important;
        }

        .daz-scrolling-xbanner .placeHolderControl {
            background: #0b0b0b;
        }
    }
</style>